.info {
	position: relative;
	padding: 13px 20px 5px 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	&:after {
		content: "";
		position: absolute;
		top: 65px;
		right: 0px;
		background: url('../images/print.png') no-repeat;
		width: 195px;
		height: 178px;

		@media #{$small-only} {
			display: none;
		}
	}
}

.info__img {
	margin-top: 15px;
	width: auto;
	height: auto;

	@media #{$small-only} {
		display: block;
		margin: 0 auto;
	}
}

.info__wrap {
	padding-bottom: 10px;
}
