.input {
	padding: 0px 5px;
	width: 100%;
	border: none;
	box-shadow: none;
	border-bottom: 2px solid $color-grey-dark;

	&::placeholder {
		font-size: 12px;
		font-weight: 500;
		line-height: 22.01px;
		letter-spacing: 1.2px;
		text-transform: uppercase;
		color: #666666;
	}

	&:focus {
		border: none;
		box-shadow: none;
		border-bottom: 2px solid $color-grey-dark;
	}

	&--form {
		display: inline-block;
		vertical-align: text-top;

		margin: 0;
		padding: 0;

		width: 21px;
		height: 21px;

	}
}

input[type="checkbox"] {
	display: none;
}

input[type="checkbox"] + label::before {
	content: "";
    display: inline-block;
	vertical-align: middle;
	width: 21px;
	height: 21px;
	border-radius: 5px;
	background-color: $color-grey-less;

	margin-right: 6px;
}

input[type="checkbox"]:checked + label::before {
	background: url('../images/arrow.svg') no-repeat, #0093d7;
	background-position: center;
}

input[type="checkbox"]:disabled + label::before {
	background-color: darken($color-grey-less, 10);
}
input[type="checkbox"]:checked:disabled + label::before {
	background-color: darken($color-grey-less, 40);
}
