.js-skills {
	display: flex;
	flex-direction: row;
	padding-top: 30px;
	padding-bottom: 40px;
}

.text-container {
	margin-left: 60px;

	@media #{$small-only} {
		margin-left: 0px;
		text-align: center;
	}
}

.text-container__text {
	margin-top: 35px;
	margin-bottom: 30px;
	font-size: 18px;
	font-weight: 500;
	line-height: 24px;

	color: #010101;

	width: 198px;

	@media #{$small-only} {
		margin-top: 60px;
		width: 100%;
	}
}

.text-container__number {
	font-size: 50px;
	font-weight: 700;
	line-height: 22.01px;
	letter-spacing: 2.5px;

	color: #0093d7;
}

.text-container__percent {
	font-size: 50px;
	font-weight: 700;
	line-height: 22.01px;
	letter-spacing: 2.5px;

	color: #0093d7;
}

.svg-container {
	width: 260px;

	@media #{$small-only} {
		display: flex;
		justify-content: center;
	}
}

.chart-gauge {
	width: 310px;
	margin: 10px;
}

.chart-color1 {
	fill: #ffc815;
}

.chart-color2 {
	fill: #a3cd3b;
}

.chart-color3 {
	fill: #0093d7;
}

.needle,
.needle-center {
	fill: #3e3d40;
}
