.label-form {
	display: inline-block;
	margin: 0!important;
	padding: 0;
	width: 100%;

	font-size: 12px;
	font-weight: 500;
	line-height: 22.01px;
	text-transform: uppercase;
	letter-spacing: 1.2px;
	color: #666666;
}
