.skills {
	padding: 0 19px;
	justify-content: center;

	border-top: 2px solid $color-grey;
	border-bottom: 2px solid $color-grey;
}

.skills__container {
	display: flex;
	flex-wrap: wrap;
}

.skills__title {
	padding-top: 32px;
	padding-bottom: 12px;
	font-size: 18px;
	font-weight: 500;
	line-height: 22.01px;
	color: #010101;
}

.skills__wrap {
	margin-bottom: 35px;
	width: 20%;
	margin-right: 35px;

	@media screen and (min-width: 646px) {
		&:nth-child(4n) {
			margin-right: 0;
		}
	}
}
