.info.grid-x.grid-padding-x
	.info__wrap.small-12.medium-3.large-3
		picture.info__img
			source(srcset='images/avatar@2x.png 2x,\
			images/avatar.png 1x')
			img.info__img(src='images/avatar.png', width='140', height='140', alt='avatar')

	.info__wrap.small-12.medium-9.large-9
		input#first-name.input(type='text', name='first-name', placeholder='Имя')
		input#b-day.input(type='text', name='b-day', placeholder='Дата рождения')
		input#city.input(type='text', name='city', placeholder='Город')
		input#contact.input(type='text', name='contact', placeholder='Контактные данные')
