.js-skills.grid-x
	.svg-container.small-12.medium-5.large-5
		.chart-gauge


	.text-container.small-12.medium-5.large-5
		p.text-container__text Мой уровень владения  Java Script
		span.text-container__number 65
		span.text-container__percent %
