.skills.grid-x
	h2.skills__title.small-12.medium-12.large-12 Навыки

	.skills__container

		.skills__wrap
			input#html.input.input--form(type='checkbox', tabindex='-1', name='html', checked='')
			label.label-form(for='html', tabindex='0') html 5

		.skills__wrap
			input#sass.input.input--form(type='checkbox', tabindex='-1', name='sass', checked='')
			label.label-form(for='sass', tabindex='0') sass

		.skills__wrap
			input#vanillajs.input.input--form(type='checkbox', tabindex='-1', name='vanillajs', checked='')
			label.label-form(for='vanillajs', tabindex='0') vanillajs

		.skills__wrap
			input#git.input.input--form(type='checkbox', tabindex='-1', name='git', checked='')
			label.label-form(for='git', tabindex='0') git

		.skills__wrap
			input#css.input.input--form(type='checkbox', tabindex='-1', name='css', checked='')
			label.label-form(for='css', tabindex='0') css3

		.skills__wrap
			input#less.input.input--form(type='checkbox', tabindex='-1', name='less', checked='')
			label.label-form(for='less', tabindex='0') less

		.skills__wrap
			input#angular.input.input--form(type='checkbox', tabindex='-1', name='angular')
			label.label-form(for='angular', tabindex='0') angular

		.skills__wrap
			input#foundation.input.input--form(type='checkbox', tabindex='-1', name='foundation', checked='')
			label.label-form(for='foundation', tabindex='0') foundation

		.skills__wrap
			input#bem.input.input--form(type='checkbox', tabindex='-1', name='bem', checked='')
			label.label-form(for='bem', tabindex='0') бэм

		.skills__wrap
			input#gulp.input.input--form(type='checkbox', tabindex='-1', name='gulp', checked='')
			label.label-form(for='gulp', tabindex='0') gulp

		.skills__wrap
			input#jquery.input.input--form(type='checkbox', tabindex='-1', name='jquery', checked='')
			label.label-form(for='jquery', tabindex='0') jquery

		.skills__wrap
			input#bootstrap.input.input--form(type='checkbox', tabindex='-1', name='bootstrap', checked='')
			label.label-form(for='bootstrap', tabindex='0') bootstrap
