// stylelint-disable scss/dollar-variable-empty-line-before

// COLORS

$color-black: #000;
$color-white: #fff;
$color-grey: #f0f0f0;
$color-grey-less: #eeeeee;
$color-grey-dark: #333333;

// FONTS

$base-font: 'Roboto', Arial, sans-serif;
